@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f9f9f9;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  width: 400px;
  height: 80px;
  border: 2px solid #fff;
  position: absolute;
  top: 160px;
  left: 180px;
  padding: 1rem;
}

label {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.inputs {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 76%;
  border: 1.5px solid #00bb7c;
  outline: none;
  padding: 0.5rem;
}

input[type="submit"] {
  padding: 0.5rem 1.2rem;
  margin-right: 0.9rem;
  color: #fff;
  background: #00bb7c;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #3cb043;
}
