<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>room-header</title>

    <link rel="stylesheet" href="roomheader.css">
</head>
<body>
    <div class="header">
        <a href="#" class="music-room">Music Room</a>
        <div class="header-right">
            <img src="images/People of Brooklyn Avatar1.png" alt="">
            <img src="images/People of Brooklyn Avatar2.png" alt="">
            <img src="images/People of Brooklyn Avatar.png" alt="">
            <span>12</span>
        </div>
    </div>
</body>
</html>