* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 213, 213);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: blanchedalmond;
}
