body {
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  min-width: 390px;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #00b87c;
}
