name: Youtube Music Deployment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  
  deploy:
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/checkout@v2   

      - name: Git Pull on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.ZURI_HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            cd /var/www/music.zuri.chat
            sudo chown pythagoras:pythagoras /var/www/music.zuri.chat
            source musicenv/bin/activate
            git pull
            sudo chown -R /var/www/music.zuri.chat
            python3 manage.py collectstatic --noinput
            pkill gunicorn
            gunicorn --bind 0.0.0.0:5050 music.zuri.chat.wsgi --daemon
            sudo systemctl restart nginx
            
            
            
            
            
            
